<mat-toolbar class="d-flex justify-content-between navbar-bg sticky-top nav-margin">
    <div class="app-title" routerLink="/">
        {{title}}
    </div>

    <div class="d-flex align-items-center" *ngIf="!isMobile">
        <ng-container *ngFor="let item of [1,2,3]">
            <button mat-flat-button class="nav-button ms-3">
                Nav Menu #{{item}}
            </button>
        </ng-container>
    </div>

</mat-toolbar>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-2 col-md-3" *ngIf="!isMobile">
            <div class="mb-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4 portfolio-title-text">
                                My Portfolio
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="total-portfolio-amount mt-3 ms-3">
                                        <div class="total-portfolio-amount-text mb-1">
                                            Net Worth
                                        </div>
                                        <div class="">
                                            <span class="portfolio-amount-rupee-sign">₹</span>2,45,832.79
                                        </div>
                                    </div>
                                    <canvas baseChart id="portfolio_chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="m-3">
                                        <div class="beta-title-text mb-2">
                                            Beta 
                                        </div>
                                        <div class="beta-value mt-1">
                                            {{this.betaValue}}
                                        </div>
                                    </div>
                                    <div class="mini-chart">
                                        <canvas baseChart class="beta_chart" [chartType]="'doughnut'" [datasets]="betaData" [labels]="betaLabels" [options]="betaOptions"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="m-3">
                                        <div class="beta-title-text mb-2">
                                            PE Ratio 
                                        </div>
                                        <div class="beta-value mt-1">
                                            {{this.peValue}}
                                        </div>
                                    </div>
                                    <div class="mini-chart">
                                        <canvas baseChart class="beta_chart" [chartType]="'doughnut'" [datasets]="peData" [labels]="peLabels" [options]="peOptions"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>