<app-topbar [title]="title" [isMobile]="isMobile"></app-topbar>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-2 col-md-3" *ngIf="!isMobile">
            <div class="mb-4">
                <app-sidebar [sidebarMenus]="navigationMenus"></app-sidebar>
            </div>
        </div>
        <div class="col-lg-10 col-md-9">
            <div class="mb-4">
                <div class="container-fluid px-1 px-sm-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4 portfolio-title-text">
                                My Portfolio
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="total-portfolio-amount mt-3 ms-3">
                                        <div class="total-portfolio-amount-text mb-1">
                                            Net Worth
                                        </div>
                                        <div class="bg-white">
                                            <span class="portfolio-amount-rupee-sign">₹</span>2,45,832.79
                                        </div>
                                    </div>
                                    <canvas baseChart id="portfolio_chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="m-3">
                                        <div class="beta-title-text mb-2">
                                            Beta
                                        </div>
                                        <div class="beta-value mt-1">
                                            {{this.betaValue}}
                                        </div>
                                    </div>
                                    <div class="mini-chart">
                                        <canvas baseChart class="beta_chart" [chartType]="'doughnut'" [datasets]="betaData" [labels]="betaLabels" [options]="betaOptions"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6">
                            <div class="mb-4">
                                <div class="fancy p-0">
                                    <div class="m-3">
                                        <div class="beta-title-text mb-2">
                                            PE Ratio
                                        </div>
                                        <div class="beta-value mt-1">
                                            {{this.peValue}}
                                        </div>
                                    </div>
                                    <div class="mini-chart">
                                        <canvas baseChart class="beta_chart" [chartType]="'doughnut'" [datasets]="peData" [labels]="peLabels" [options]="peOptions"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let item of ['Temporary', 'Short Term', 'Long Term']">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <div class="fancy p-3">
                                        {{item}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-bottombar *ngIf="isMobile" [bottomNavs]="navigationMenus"></app-bottombar>