<div class="d-flex flex-column align-items-center my-4 mt-5">
    <div class="feature-headline">Invest Better with Nivesh</div>
    <div class="feature-sub-headline">
        With world class portfolio tracking & analysis
    </div>
</div>
<div class="container features-container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle automated"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Automated Tracking</div>
                    <div class="mt-2">
                        Your portfolio is automatically updated from statements in your email
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle analytics"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Intelligent Analysis</div>
                    <div class="mt-2">
                        Get consolidated overview of your investments across all apps & websites
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle transactions"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Actionable Insights</div>
                    <div class="mt-2">
                        Discover underperforming investments, hidden charges & much more
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-3 pt-sm-5 wave2 container-fluid px-0">
    <div class="d-flex dynamic-flex justify-content-around my-4">
        <div class="d-flex flex-column how-it-works col-md-6">
            <div class="feature-headline mb-0 mb-sm-4">How Nivesh Works</div>
            <div class="how-it-works-video">
                <!-- <div class="dummy-video"></div> -->
                <iframe class="dummy-video" src="https://player.vimeo.com/video/639586946"></iframe>

            </div>
        </div>

        <div class="mt-5 mt-sm-0 how-it-works-steps col-md-6">
            <div class="container features-container">
                <div class="row d-flex flex-column">
                    <div class="col-md-12">
                        <div class="mb-4">
                            <div class="hiw-title">
                                <div class="number-circle">1</div>
                                <div class="number-title">Connect Email</div>
                            </div>
                            <div class="d-flex flex-column items">
                                <!-- <div class="">Upload your CAS, P&L or tradebook statements</div>
                                <div class="">Set up email auto-forwarding</div>
                                <div class="">Authorize read access to your inbox</div> -->
                                When you connect your email,
                                <br>
                                we can use your CAS statements
                                <br>
                                to import your investment data.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-4">
                            <div class="hiw-title">
                                <div class="number-circle">2</div>
                                <div class="number-title">Get Your Portfolio Insights</div>
                            </div>
                            <div class="d-flex flex-column items">
                                <div class="">
                                    Get a cumulative overview of your investments
                                </div>
                                <div class="">Discover your investing style</div>
                                <div class="">Follow proven investment habits</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center my-4">
    <div class="feature-headline">100% Safe, Secure and Trusted</div>
    <div class="feature-sub-headline text-center">
        You're in control of your data.
    </div>
</div>

<div class="container features-container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle private"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Private</div>
                    <div class="mt-2">
                        Your data is never shared with anyone, will never be.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle encrypted"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Encrypted</div>
                    <div class="mt-2">
                        Your data is encrypted when you use Nivesh.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4 d-flex align-items-center">
                <div class="circle opt-out"></div>
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title">Opt-out</div>
                    <div class="mt-2">
                        Easily take your data out if you don't like Nivesh.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="bg-wave py-3 py-sm-4 my-2">
    </div>
</div>

<div class="container">
    <div class="row my-4 mt-sm-5">
        <div class="col-md-4">
            <div class="px-4 px-sm-5">
                <div class="feature-headline">Request a Call</div>
                <div class="feature-sub-headline">
                    No chatbots, talk to a human
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-1">
                            <mat-form-field class="full-width" appearance="outline">
                                <!-- <span matPrefix>+91 &nbsp;</span> -->
                                <mat-label>Phone Number</mat-label>
                                <input matInput [formControl]="phoneNumberControl" [errorStateMatcher]="matcher" type="tel" placeholder="10 digit phone number" />
                                <mat-error *ngIf="phoneNumberControl.hasError('pattern') && !phoneNumberControl.hasError('required')">
                                    Please enter a valid phone number
                                </mat-error>
                                <mat-error *ngIf="phoneNumberControl.hasError('required')">
                                    We can't call you without your number!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-1">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Pick a time slot</mat-label>
                                <mat-select matInput [formControl]="timeSlotControl" [errorStateMatcher]="matcher">
                                    <mat-option value="option">8 AM -12 Noon</mat-option>
                                    <mat-option value="option">12 Noon - 3 PM</mat-option>
                                    <mat-option value="option">3 PM - 6 PM</mat-option>
                                    <mat-option value="option">6 PM - 9 PM</mat-option>
                                </mat-select>
                                <mat-error *ngIf="timeSlotControl.hasError('required')">
                                    Let us know when would be a good time to talk
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-1 mt-2 mt-sm-0">
                            <button mat-flat-button color="primary" class="full-width request-btn">Schedule a Call</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <!-- <div class="py-2 py-sm-1 "> -->
    <div class="bg-wave py-3 mb-4 py-sm-4 my-2">
    </div>
</div>

<div class="d-flex flex-column align-items-center my-4">
    <div class="feature-headline">Pricing</div>
    <div class="feature-sub-headline text-center">
        Nothing beats free
    </div>
</div>

<div class="container features-container mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-5 d-flex align-items-center">
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title pricing-zero">₹0 <span class="pricing-duration"></span></div>
                    <div class="mt-2">
                        Portfolio Auto Tracking &nbsp;<span class="free-text">FREE!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-5 d-flex align-items-center">
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title pricing-zero">₹0 <span class="pricing-duration"></span></div>
                    <div class="mt-2">
                        Intelligent Portfolio Analysis &nbsp;<span class="free-text">FREE!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-5 d-flex align-items-center">
                <div class="feature-content d-flex flex-column align-items-start">
                    <div class="feature-title pricing-zero">₹0 <span class="pricing-duration"></span></div>
                    <div class="mt-2">
                        Smart Dashboards & Visualisation &nbsp;<span class="free-text">FREE!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>